@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* shared style */

.display-flex {
  display: flex;
}
/* dark 01 */
.text-dark {
  color: #131313;
}

/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 215, 20, 0.1);
}

.color-orange {
  color: #ff900e;
}

.btn-primary {
  color: white;
  padding: 20px 25px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #ff900e;
}

header {
  padding-bottom: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 1.8rem 1rem;
}

main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}
.section-title {
  max-width: 450px;
  font-size: 2.5rem;
  font-weight: 700;
}
.section-description {
  max-width: 530px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #727272;
  margin-top: 24px;
  margin-bottom: 30px;
}
.features-card {
  max-width: 586px;
  border-radius: 8px;
  padding: 2rem;
  margin-top: 1.25rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}

.features-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.28rem;
  text-align: left;
  color: #131313;
  margin-bottom: 0.6rem;
}

.features-description {
  max-width: 514px;
  font-size: 1rem;
  line-height: 1.28rem;
  color: #727272;
}

/* header style */

/* navbar related style */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.brand {
  font-size: 2.2rem;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  gap: 30px;
}

.nav-link {
  max-width: 477px;
  font-size: 1.1rem;
  line-height: 26px;
  text-decoration: none;
  font-weight: 500;
  /* margin-right: 30px; */
}

.navbar,
.banner {
  max-width: 1440px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* banner related style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  max-width: 50rem;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 50px;
}

.banner-description {
  max-width: 850px;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #424242;
  margin: 32px auto;
}
.banner-image {
  width: 100%;
}

/* main section style */
.teams {
  justify-content: center;
  align-items: center;
}
.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 70px;
  max-width: 530px;
  border: none;
  border-radius: 8px;
}

#quick-list {
  font-weight: 500;
}

/* features container */
.features {
  justify-content: center;
}

.fc-left-content {
  max-width: 586px;
  border-radius: 8px;
  margin: 2.5rem 3.1rem;
  /* height: 61rem; */
  /* padding: 20px 70px; */
}

.fc-left-content .accent-title {
  position: relative;
  padding-left: 20px;
}
.accent-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 5px;
  height: 90%;
  background-color: #ff900e;
  border-radius: 8px;
}

.fc-right-content {
  position: relative;
  max-width: 800px;
}
.fc-right-content-image {
  max-width: 700px;
  width: 100%;
  border-radius: 8px;
  margin-left: 4rem;
  margin-bottom: 4rem;
}

.experiance-badge {
  position: absolute;
  max-width: 342px;
  border-radius: 8px;
  background-color: #ff900e;
  color: white;
  padding: 2rem 2.5rem;
  text-align: center;
  bottom: 20px;
  left: 15px;
}

.experiance-badge h3 {
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin: 10px;
}

.experiance-badge span {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .teams-image-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin: 20px;
    text-align: center;
  }
}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin: 20px 0;
  }
}
